<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Essential permissions for PC Cooker functionality -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Optional permissions with clear usage -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PCCooker"
        android:usesCleartextTraffic="false"
        android:extractNativeLibs="false"
        android:hardwareAccelerated="true">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".AIAssistantActivity"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".EnhancedAIAssistantActivity"
            android:exported="false"
            android:theme="@style/Theme.PCCooker">
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".SignUpActivity"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false">
        </activity>
        
        <activity
            android:name=".BuildPCActivity"
            android:exported="false" />
            
        <activity android:name=".ManageAddressActivity" />
        <activity android:name=".EditAddressActivity" />
        <activity android:name=".AdminPanelActivity" />
        <activity android:name=".CategoryComponentActivity" />
        <activity android:name=".BuildSummaryActivity" />
        <activity android:name=".ComponentListActivity" />
        <activity android:name=".AddComponentActivity" />
        <activity android:name=".OtherPartsActivity" />
        <activity android:name=".RemoveDuplicatesActivity" />
        <activity android:name=".TrendingComponentsActivity" />
        <activity android:name=".BuildManagerActivity" />
    </application>

</manifest>